@charset "utf-8";

.errMsg {
	margin-left: 1em;
	padding-bottom: 1px;
	display: block;
	line-height: 1.4;
	text-indent: -.9em;
}

.formError {
	padding-bottom: 13px;
	display: block;
}
.fixed {
	padding-bottom: 0px;
}

	.formError .formErrorClose {
		border: solid #252525 2px;
		border-radius: 9px 9px 9px 9px;
		-moz-border-radius: 9px 9px 9px 9px;
		-webkit-border-radius: 9px 9px 9px 9px;
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: -4px;
		right: -4px;
		color: #efefef;
		background: #333;
		font-weight: bold;
		text-align: center;
		line-height: middle;
		cursor: pointer;
		box-shadow: 1px -1px 3px #888;
		-moz-box-shadow: 1px -1px 3px #888;
		-webkit-box-shadow: 1px -1px 3px #888;
    	z-index:2;
	}
	.formError .formErrorClose:hover {
		background: #666;
	}
	.fixed .formErrorClose {
		display: none;
	}
	
	.formError .formErrorContent {
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding: 6px 10px;
		width: 180px;
    position:relative;
		color: #fff;
		background: #252525;
		font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,Osaka,sans-serif;
		font-size: 11px;
		box-shadow: 0px 0px 6px #888;
		-moz-box-shadow: 0px 0px 6px #888;
		-webkit-box-shadow: 0px 0px 6px #888;
		margin: 0 0 30px 0;
    _z-index:1;
	}
	.fixed .formErrorContent {
		margin-top: .5em;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		background: #f60;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		margin: 0 0 30px 0;
	}
	.fadeOut {
		opacity: .2;
		filter: alpha(opacity=20);
	}
	
	.formError .formErrorArrow {
		width: 15px;
		height: 15px;
		position: absolute;
		bottom: 0;
		left: 20px;
		margin: 0 0 30px 0;
    _z-index:0;
	}
	.fixed .formErrorArrow {
		display: none;
	}
	.formError .formErrorArrowBottom {
		margin: -6px;
		top: 0;
	}
	.fixed .formErrorArrowBottom {
		display: none;
	}
	
		.formError .formErrorArrow div {
			margin: 0 auto;
			display: block;
			height: 1px;
			background: #252525;
			line-height: 0px;
			font-size: 0px;
			box-shadow: 0px 2px 3px #888;
			-moz-box-shadow: 0px 2px 3px #888;
			-webkit-box-shadow: 0px 2px 3px #888;
		}
			.formError .formErrorArrowBottom div{
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
			}
			
		.formError .formErrorArrow .line10 {
			width: 19px;
		} 
		.formError .formErrorArrow .line9 {
			width: 17px;
		} 
		.formError .formErrorArrow .line8 {
			width: 15px;
		} 
		.formError .formErrorArrow .line7 {
			width: 13px;
		} 
		.formError .formErrorArrow .line6 {
			width: 11px;
		} 
		.formError .formErrorArrow .line5 {
			width: 9px;
		} 
		.formError .formErrorArrow .line4 {
			width: 7px;
		} 
		.formError .formErrorArrow .line3 {
			width: 5px;
		} 
		.formError .formErrorArrow .line2 {
			width: 3px;
		}
		.formError .formErrorArrow .line1{
			width: 1px;
		}  
		
		
/* dislay */
.hid_url { display:none;}
	
form p.test { 
	position: relative;
	color: #C1C0BC;
	}
form p.test label { 
	position: absolute;
	top: 3px;
	left: 10px;
	font-weight:normal;
	}
form p.test br {
	display: none;
	}






/* contact */
.formBlock {
	max-width:764px;
	margin:auto;
}

.tableContact em, .txtContact em{
	color:#fb2a2a;
	font-style:normal;
}

	
.tableContact {
	border-top: #D5D5D5 solid 1px;
	width:100%;
	margin: 95px 0 30px;
	font-size:15px;
	text-align:left;
}
	.tableContact td, .tableContact th{
		border-bottom: #D5D5D5 solid 1px;
		padding: 25px 20px;
		vertical-align:top;
	}
	.tableContact th{
		width:275px;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 1px;
		strong {
			font-weight: normal;
			font-size: 14px;
		}
	}
	.tableContact td {
		padding: 25px 10px 25px 20px;
		label {
			margin-bottom: 5px;
			display: block;
			color: #B4B4B4;
			font-size: 16px;
			letter-spacing: 1px;
		}
		ul {
			li {
				-webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    position: relative;
			    margin-bottom: 10px;
			    &:last-child {
			    	margin-bottom: 0;
			    	input[type="text"] {
			    		margin-top: 10px;
			    	}

			    }
				input[type="radio"] {
					display: inline-block;
					vertical-align: middle;
					width: auto;
					position: absolute;
					opacity: 0;
					top: -10px;
					left: 7px;
					cursor: pointer;
					z-index: 10;
				}
				label {
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0;
					padding-left: 7px;
					color: #000000;
				}
				em {
					display: inline-block;
					vertical-align: middle;
					position: relative;
					top: 0;
					left: 0;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					-ms-border-radius: 50%;
					background: #fff;
					border: solid 1px #DAD5C1;
					cursor: pointer;
					&:hover {
						background: #F4F4F4;
					}
					&:after {
						content: "";
					    position: absolute;
					    display: none;
						left: 50%;
						// margin-left: -8px;
					    top: 50%;
					    margin-top: -9px;
					    transform: translateX(-46%);
					    width: 17px;
					    height: 17px;
					    -moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						-ms-border-radius: 50%;
						border-radius: 50%;
					    background: #000;
					}
				}
				input:checked ~ em {
					border: solid 1px #DAD5C1;
				}
				input:checked ~ em:after {
				    display: block;
				}
			}
		}
	}
	.tableContact input {
		width: 478px;
		height: 46px;
		color:#1a1a1a;
		padding-left: 10px;
		border: solid 1px #cdc7ae;

	}
	
	.tableContact textarea {
		height:150px;
		width: 478px;
		border: solid 1px #cdc7ae;
		display: block;
		padding-left: 10px;
	}
	.tableContact .size01 input[type="text"]{
		width:160px;		
	}
	
	
#contact #footerWrap, #contact .fixBtn, #contact .headerR, #contact #gNaviWrap01, #contact h1{
	display:none;
}

.contact {
	.header {
		.headerInner {
			text-align: left;
		}
	}
	#wrap {
		.breadcumb {
			li {
				&:last-child {
					a {
						&:before {
							display: none;
						}
					}
				}
			}
		}
		.titlePage {
			max-width: 764px;
			text-align: center;
			font-weight: bold;
			font-size: 46px;
			margin: 95px auto 110px;
		}
		.formBlock {
			.step {
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
		.formBlockStep2 {
			.step {
				margin-top: 70px;
			}
			.textStep2 {
				margin-top: 95px;
				letter-spacing: 1px;
				font-size: 16px;
			}
			.tableContact {
				margin-top: 35px;
				margin-bottom: 8px;
				border: solid 1px #D5D5D5;
				th {
					background: #F4F4F4;
					width: 253px;
					padding: 15px 20px;
				}
				td {
					padding: 15px 20px;
				}
				.content {
					padding-bottom: 35px;
				}
			}
			.backLink {
				font-size: 16px;
				text-align: right;
				margin-bottom: 90px;
				a {
					text-decoration: underline;
					color: #584598;
					&:hover {
						opacity: 0.7;
					}
				}
			}
			.submitBtn {
				text-align: center;
				margin-bottom: 70px;
			}
		}
		.formBlockStep3 {
			.step {
				margin: 35px 0 70px;
			}
			.containerIndexThx {
				max-width: 764px;
				margin: 0 auto;

				.bigText {
					margin-bottom: 60px;
					font-size: 30px;
					text-align: center;
					letter-spacing: 2px;
				}
				.smallText {
					letter-spacing: 1px;
					font-size: 16px;
					margin-bottom: 30px;
					a {
						text-decoration: underline;
						color: #584598;
						&:hover {
							opacity: 0.7;
						}
					}
				}
				.backHomeBtn {
					margin: 140px 0 215px;
					a {
						margin: 0 auto;
						text-align: center;
						font-size: 18px;
						border: solid 1px #2F2929;
						width: 246px;
						display: block;
						padding: 10px 0;
						position: relative;
						&:after {
							content: "";
							position: absolute;
							right: 15px;
							top: 50%;
							margin-top: -4px;
							width: 8px;
							height: 8px;
							border-left: 1px solid rgba(47, 41, 41, 1);
							border-top: 1px solid rgba(47, 41, 41, 1);
							-moz-transform: rotate(135deg);
							-webkit-transform: rotate(135deg);
							-ms-transform: rotate(135deg);
							transform: rotate(135deg);
						}
						&:hover {
							opacity: 0.7;
							border: solid 1px rgba(0, 0, 0, 0.3);
							&:after {
								border-left: 1px solid rgba(47, 41, 41, 0.5);
								border-top: 1px solid rgba(47, 41, 41, 0.5);
							}
						}
					}
				}
			}
		}
		.txtContact01 {
			padding: 0 15px 0 20px;
			margin-bottom: 30px;
			letter-spacing: 1px;
			.t0b10 {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 5px;
			}
			.t0b20 {
				li {
					font-size: 14px;
					a {
						text-decoration: underline;
						color: #584598;
					}
				}
			}
		}
		.confirmBox {
			width: 100%;
			background: #F4F4F4;
			text-align: center;
			padding: 49px 0;
			margin-bottom: 50px;
			.comfirmText {
				margin-bottom: 25px;
				-webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    label {
			    	position: relative;
			    }
				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
				}
				em {
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					background: #fff;
					border: solid 1px #95989A;
					cursor: pointer;
					&:hover {
						background: #F4F4F4;
					}
					&:after {
						content: "";
					    position: absolute;
					    display: none;
						left: 50%;
						margin-left: -2px;
					    top: 50%;
					    margin-top: -7px;
					    width: 5px;
					    height: 10px;
					    border: solid white;
					    border-width: 0 2px 2px 0;
					    -webkit-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    transform: rotate(45deg);
					}
				}
				input:checked ~ em {
					background-color: #000;
					border: none;
				}
				input:checked ~ em:after {
				    display: block;
				}

				span {
					font-size: 16px;
					font-weight: bold;
					padding-left: 30px;
					display: inline-block;
					vertical-align: middle;
					letter-spacing: 1px;
				}
			}
		}
		.notedText {
			letter-spacing: 1px;
			margin-bottom: 170px;
			a {
				text-decoration: underline;
				color: #584598;
			}
		}
		.copyRightText {
			text-align: center;
			font-size: 12px;
			margin-bottom: 30px;
		}
		button {
			width: 283px;
			border: none;
			background: #584598;
			padding: 13px 0;
			span {
				font-size: 18px;
				color: #fff;
				display: block;
				position: relative;
				letter-spacing: 1px;
				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -4px;
					width: 8px;
					height: 8px;
					border-left: 1px solid #fff;
					border-top: 1px solid #fff;
					-moz-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
			&:hover {
				opacity: 0.7;
				transition: 0.3s all;
				-webkit-transition: 0.3s all;
				-moz-transition: 0.3s all;
				-ms-transition: 0.3s all;
			}
		}
	}
	@include max-screen(767px) {
		.header {
			.headerInner {
				border-bottom: solid 1px #D5D5D5;
			}
			.shortCategories {
				display: none;
			}
		}
		#wrap {
			padding: 0 25px;
			.breadcumb {
				position: fixed;
				top: 54.5px;
				background: #fff;
				width: 100%;
				z-index: 1010;
				margin: 0 -25px;
				li {
					&:last-child {
						a {
							color: #8692A7;
							text-decoration: none;
						}
					}
				}
			}
			.titlePage {
				font-size: 26px;
				margin: 120px auto 35px;
			}
			.formBlockStep2 {
				.step {
					margin-top: 0;
				}
				.textStep2 {
					margin-top: 25px;
				}
				.tableContact {
					margin-bottom: 15px;
					th {
						width: 100%;
						padding: 5px 20px;
						font-size: 14px;
					}
					.content {
						padding-bottom: 15px;
					}
				}
				.backLink {
					margin-bottom: 40px;
				}
				.submitBtn {
					margin-bottom: 40px;
				}
			}
			.formBlockStep3 {
				.containerIndexThx {
					.backHomeBtn {
						a {
							width: 292px;
						}
					}
				}
			}
			.tableContact {
				margin: 35px 0 60px;
				border: solid 1px #D5D5D5;
				th {
					width: 100%;
					display: block;
					padding: 10px 25px;
					border: none;
					background: #F4F4F4;
					strong {
						margin-left: 10px;
					}
				}
				td {
					width: 100%;
					padding: 10px 25px 35px;
					display: block;
					border: none;
					label {
						letter-spacing: 0.7px;
					}
					ul {
						li {
							em {
								&:after {
					    			// transform: translateX(-46%);
					    			left: 11px;
					    			top: 12px;
									
								}
							}
						}
					}
				}
				input {
					width: 100%;
					height: 50px;
				}
				textarea {
					width: 100%;
					margin-top: 10px;
				}
			}
			.txtContact01 {
				padding: 0;
				margin-bottom: 25px;
			}
			.confirmBox {
				padding: 40px 0;
				margin-bottom: 40px;
				.comfirmText {
					span {
						letter-spacing: 0.5px;
					}
				}
				.t30b20 {
					button {
						padding: 18px 0;
					}
				}
			}
			.notedText {
				margin-bottom: 40px;
			}
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #B4B4B4;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #B4B4B4;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #B4B4B4;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #B4B4B4;
	}
}

.contactTks {
	@include max-screen(767px) {
		.header {
			.shortCategories {
				display: block;
			}
		}
		#wrap {
			.breadcumb {
				top: 157px;
				z-index: 8;
			}
			.titlePage {
				margin-top: 225px;
			}
			.formBlockStep3 {
				.step {
					margin: 0 0 45px;
				}
				.containerIndexThx {
					.bigText {
						font-size: 22px;
						margin-bottom: 30px;
					}
					.backHomeBtn {
						margin: 45px 0 75px;
						padding: 0 15px;
						a {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.err {
	background: #fefdd9;
}

