.notfound {
	.page-title {
		.container {
			max-width: 1366px;
			width: auto;
		}
		text-align: center;
		margin: 50px 0;
		h2 {
			margin-bottom: 10px;
		}
		.text {
			font-size: 16px;
			margin-bottom: 20px;
			line-height: 1.8;
		}
		.g-btn {
			a {
				font-size: 16px;
				font-weight: bold;
				width: 200px;
				display: block;
				margin: 0 auto;
				background: #000;
				color: #fff;
				padding: 10px 0;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}