.top {
	background: #f0efe9;
	#wrap {
		background: #f0efe9;
		.mainBanner {
			width: 1400px;
			overflow: hidden;
			margin: 0 auto;
			position: relative;
			img {
				display: block;
			}
			.waveBg {
				margin-top: -7px;
			}
			.contentBanner {
				position: absolute;
				top: 50%;
				left: 170px;
				transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				color: #fff;
				text-align: center;
				p {
					font-size: 18px;
					margin-bottom: 12px;
					text-align: left;
				}
				h2 {
					font-size: 48px;
					font-weight: bold;
					line-height: 1.3;
					margin-bottom: 20px;
					text-align: left;
					letter-spacing: 1.5px;
				}
				a {
					color: #fff;
					display: inline-block;
					background: #ef8a34;
					padding: 13px 38px;
					font-weight: bold;
					border-radius: 10px;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						right: 15px;
						top: 50%;
						width: 9px;
						height: 9px;
						margin-top: -4.5px;
						border-left: 1px solid #fff;
						border-top: 1px solid #fff;
						-moz-transform: rotate(135deg);
						-webkit-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						transform: rotate(135deg);
					}
					&:hover {
						background: #e1a257;
					}
				}
			}
		}
		.topics {
			margin-bottom: 80px;
			margin-top: 60px;
			.content {
				background: #fff;
				margin: 0 30px;
				padding: 45px 70px 60px;
				border-radius: 12px;
				h2 {
					font-size: 36px;
					text-transform: uppercase;
					text-align: center;
					margin-bottom: 30px;
				}
				ul {
					margin-bottom: 35px;
					li {
						font-weight: bold;
						padding: 12px 0;
						border-bottom: solid 1px #333333;
						a {
							&:hover {
								opacity: 0.7;
							}
						}
						span {
							display: inline-block;
						}
						.time {
							width: 13%;
						}
						.cat {
							min-width: 97px;
							text-align: center;
							background: #a5a5a5;
							color: #fff;
							border-radius: 5px;
							font-size: 14px;
							padding: 2px 0;
							margin-right: 5px;
						}
						.catOrange {
							background: #ef8a34;
						}
						.title {
							margin-left: 18px;
						}
					}
				}
			}
		}
		.aboutBox {
			margin-bottom: 90px;
			ul {
				li {
					float: left;
					width: 31%;
					margin-right: 3.5%;
					border-radius: 15px;
					-moz-border-radius: 15px;
					-webkit-border-radius: 15px;
					-ms-border-radius: 15px;
					padding-bottom: 35px;
					background: #fff;
					&:last-child {
						margin-right: 0;
					}
					.imgFeatured {
						img {
							border-top-left-radius: 15px;
							-moz-border-top-left-radius: 15px;
							-webkit-border-top-left-radius: 15px;
							-ms-border-top-left-radius: 15px;
							border-top-right-radius: 15px;
							-moz-border-top-right-radius: 15px;
							-webkit-border-top-right-radius: 15px;
							-ms-border-top-right-radius: 15px;
							display: block;
							width: 100%;
						}
					}
					.content {
						padding: 20px 25px 0;
						.title {
							font-size: 22px;
							font-weight: bold;
							text-align: center;
							margin-bottom: 10px;
							width: 100%;
							display: table;
							span {
								display: table-cell;
								vertical-align: middle;
							}
						}
						.desc {
							margin-bottom: 20px;
						}
						.loadMoreBtn {
							a {
								padding: 9px 51px;
							}
						}
					}
				}
			}
		}
		.relatedSite {
			padding-bottom: 125px;
		}
		.loadMoreBtn {
			text-align: center;
			a {
				color: #fff;
				display: inline-block;
				background: #ef8a34;
				padding: 9px 48px;
				font-weight: bold;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				-ms-border-radius: 10px;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					right: 15px;
					top: 50%;
					width: 9px;
					height: 9px;
					margin-top: -4.5px;
					border-left: 1px solid #fff;
					border-top: 1px solid #fff;
					-moz-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					transform: rotate(135deg);
				}
				&:hover {
					opacity: 0.7;
				}
			}
		}
		.titleBox {
			margin-bottom: 35px;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 999;
			transform: translateY(-50%);
		}
		.prevArrow {
			left: 0;
		}
		.nextArrow {
			right: 0;
		}
		.slick-slider {
			padding: 0 45px 0 45px;
			margin-bottom: 0;
		}
		.slick-list {
			left: 6px;
		}
		.slick-slide {
			margin-right: 0;
			img {
				margin: 0
			}
		}
	}
}

