@charset 'UTF-8';

/*-----------------------------------------------------------
Bread
------------------------------------------------------------*/
.breadcumb {
	max-width: 1366px;
	padding: 10px 0 10px 15px;
	font-size: 12px;
	color: #808080;
	margin: 0 auto 35px;
	li {
		float: left;
		a {
			color: #000000;
			padding-right:10px;
			margin-right:10px;
			position: relative;
			text-decoration: underline;
			&:before {
				position: absolute;
				content: '>';
				right: -3px;
				top: -2px;
			}
			&:hover {
				text-decoration:none;
			}
		}
	}
	@include max-screen(767px) {
		border-bottom: solid 1px #D5D5D5;
		font-size: 10px;
		margin-bottom: 25px;
		li {
			a {

				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
				&:before {
					top: -3.5px;
					right: -2px;
				}
			}
		}
	}
}
