@charset 'UTF-8';


/*-----------------------------------------------------------
Footer
------------------------------------------------------------*/
.imgFooter {
	background: #f0efe9;
	margin: 0 auto;
	padding: 0 15px;
	z-index: -2;
	position: relative;
	img {
		display: block;
		margin-left: 70px;
	}
}
footer {
	width: 100%;
	background: #304a51;
	position: relative;
	color: #fff;
	.container {
		background: #304a51;
		position: relative;
		padding: 65px 15px 55px;
		#pagetop {
			position: absolute;
			right: 15px;
			top: -33px;
			z-index: -1;
			img {
				display: block;
			}
		}
		.footerTop {
			margin-bottom: 45px;
			.left {
				float: left;
				width: 62%;
				p {
					line-height: 1.75;
				}
			}
			.right {
				float: left;
				width: 38%;
				padding-left: 5%;
				.address {
					margin-bottom: 12px;
					font-size: 16px;
				}
				.contactFooter {
					.phoneBox {
						display: block;
						margin-right: 0;
						margin-bottom: 12px;
						strong {
							&:before {
								content: url(../img/common/ico_call_white.svg);
							}
						}
						.textTime {
							letter-spacing: 1.2px;
							font-weight: bold;
							font-size: 11px;
							vertical-align: middle;
							margin-right: 8px;
						}
						.time {
							letter-spacing: 1.2px;
							font-size: 12px;
							font-weight: bold;
							vertical-align: middle;
						}
					}
					.mailBox {
						font-size: 15px;
						a {
							padding: 12px 40px;
						}
					}
				}
			}
			h4 {
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 10px;
			}
			p {
				font-size: 14px;
				text-align: justify;
				letter-spacing: 1px;
			}
		}
		.fNav {
			li {
				font-size: 14px;
				font-weight: bold;
				float: left;
				text-align: center;
				a {
					width: 100%;
					display: block;
					color: #fff;
					padding: 3px 43px;
					border-left: solid 1px #cecece;
				}
				&:last-child {
					a {
						border-right: solid 1px #cecece;
					}
				}
			}
		}
	}
}
.copyright {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 10px;
}

