@charset 'UTF-8';


/*-----------------------------------------------------------
Header
-------------------------------------------------------------*/
.header {
	width: 100%;
	padding-bottom: 15px;
	background: #fff;
	#logo {
		float: left;
		width: 21%;
		img {
			display: block;
		}
	}
	.rightHeader {
		float: left;
		width: 79%;
		padding-top: 10px;
		padding-right: 100px;
		.contactHeader {
			text-align: right;
			margin-bottom: 5px;
			
		}
		.mainMenu {
			text-align: right;
			line-height: 0;
			.itemNav {
				display: inline-block;
				li {
					float: left;
					font-size: 14px;
					font-weight: bold;
					line-height: 2;
					margin-right: 45px;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						opacity: 0.7;
					}
				}
				li.active {
					font-family: 'Open Sans', sans-serif;
					font-weight: normal;
				}
			}
		}
		
	}

}
.phoneBox {
	display: inline-block;
	vertical-align: middle;
	margin-right: 35px;
	strong {
		display: block;
		font-size: 27px;
		position: relative;
		padding-left: 28px;
		line-height: 1;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: url(../img/common/ico_call_black.svg);
			line-height: 1;
		}
	}
	.textTime {
		letter-spacing: 1px;
		font-weight: bold;
		font-size: 11px;
		vertical-align: middle;
		margin-right: 8px;
	}
	.time {
		letter-spacing: 0.5px;
		font-size: 12px;
		font-weight: bold;
		vertical-align: middle;
	}
}
.mailBox {
	display: inline-block;
	vertical-align: middle;
	a {
		display: block;
		background: #4abc88;
		font-weight: bold;
		color: #fff;
		padding: 12px 32px;
		border-radius: 8px;
		span {
			position: relative;
			padding-left: 27px;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: url(../img/common/ico_mail_white.svg);
				line-height: 1;
			}
		}
		&:hover {
			opacity: 0.7
		}
	}
}

.sticky {
	position: fixed!important;
	display: block!important;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	z-index: 1000;
	@include max-screen(767px) {
		top: 112px;
	}
}

.showAllCatIco, .showAllCatIco1 {
	@include max-screen(767px) {
		&:after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.3);
		}
		.header {z-index: 1009; position: relative;}
		.catList ul {
			height: 55px;
		}
		#headerWrap .topHeader .mainHeader .catList .showAllCatBtn, .showAllCatBtn1 {
			&:before {
				top: 60%!important;
				-moz-transform: translate(-50%, -50%) rotate(45deg)!important;
				-webkit-transform: translate(-50%, -50%) rotate(45deg)!important;
				-ms-transform: translate(-50%, -50%) rotate(45deg)!important;
				transform: translate(-50%, -50%) rotate(45deg)!important;
			}
		}
	}
}

.showAllCatBox, .showAllCatBox1 {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1002;
	display: none;
	ul {
		background: #fff;
		padding: 0 20px 20px;
		border-top: solid 1px #D5D5D5;
		li {
			text-align: left;
			float: left;
			padding: 10px 5px;
			margin-right: 20px;
			&:nth-child(1) {
				border-bottom: solid 3px #C38585;
			}
			&:nth-child(2) {
				border-bottom: solid 3px #C3BC85;
			}
			&:nth-child(3) {
				border-bottom: solid 3px #9CAD90;
			}
			&:nth-child(4) {
				border-bottom: solid 3px #739B98;
			}
			&:nth-child(5) {
				border-bottom: solid 3px #8692A7;
			}
			&:nth-child(6) {
				border-bottom: solid 3px #9C86A7;
			}
			&:nth-child(7) {
				border-bottom: solid 3px #9A867F;
			}
			a {
				font-size: 16px;
				font-weight: normal;

			}
		}
	}
}

